name: Terraform CI

on: [push]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: |
          cd env/dev
          terraform init

      - name: Terraform Validate
        run: |
          cd env/dev
          terraform validate

      - name: Terraform Plan
        run: |
          cd env/dev
          terraform plan
